@use '../../styles/breakpoints.scss' as *;
.user-detail-page {
  background: var(--content-bg);

  
  
  /* ================= PROFILE CARD ================= */
  .profile-card {
    display: flex;
    background: var(--card-bg);
    border-radius: 12px;
    box-shadow: var(--boxShadow);
    margin-bottom: 24px;
    padding: 20px;
  justify-content: space-between;
  position: relative;
  box-shadow: none !important;
    .left {
      margin-right: 20px;
  
      .avatar {
        position: relative;
  
        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 3px solid #22c55e;
          object-fit: cover;
        }
  
        .status {
          position: absolute;
          bottom: -6px;
          left: 50%;
          transform: translateX(-50%);
          background: #22c55e;
          color: #fff;
          font-size: 12px;
          padding: 4px 14px;
          border-radius: 20px;
          text-transform: capitalize;
        }
      }
    }
  
    .right {
      // flex: 1;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .row {
        display: flex;
        gap: 40px;
        margin-bottom: 15px;
        flex-wrap: wrap;
  
        span {
          font-size: 16px;
          color: var(--sider-text);
  
          b {
            font-weight: 600;
            padding-right: 5px;
          }
  
          .value {
            opacity: 0.7;
          }
        }
  
        .address {
          max-width: 700px;
        }
      }
    }
  }
  /* ===== COLLAPSE ANIMATION ===== */
  .profile-expand-wrapper {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
      max-height 0.45s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.3s ease;
  }
  
  .profile-expand-wrapper.expanded {
    max-height: 500px;
    opacity: 1;
  }
  
  /* ===== BOTTOM CENTER TOGGLE ===== */
  .expand-toggle {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      position: absolute;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      color: var(--accent);
      font-weight: 500;
      user-select: none;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
  
    span {
      font-size: 13px;
    }
  
    svg {
      transition: transform 0.3s ease;
    }
  }
  
  /* ================= CONTENT ================= */
  .content {
    display: flex;
    gap: 20px;
    @include mobile {
      flex-direction: column;
    }
    @include tablet {
      flex-direction: column;
    }
  }
  
  /* ================= SIDEBAR ================= */
  
  /* ================= RESPONSIVE ================= */
  
  
  /* ================= TABLE SECTION ================= */
  
  .employee-detail-content {
    // flex: 1;
  background: var(--card-bg);
  padding: 16px;
  border-radius: 12px;
  width: 80%;
  @include laptop {
      width: 100%;
    }
  
  }
}

