.attendance-container {
//   padding: 16px;
}
.table-controls {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
}

.ant-table-row-selected,
.ant-table-row.active {
  background: #e6f7ff !important;
}
