
.status-tabs {
  &.desktop-tabs {
    display: flex;
    border: 1px solid var(--muted);
    border-radius: 4px;

    @media (max-width: 768px) {
      display: none;
    }
  }


  .tab-btn {
    border-radius: 3px;
    padding: 11px 20px;
    border: none;
    background: transparent;
    color: var(--sider-text);
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
    position: relative;
// font-weight: 600;
    .count {
      position: absolute;
      top: -7px;
      right: 4px;
      padding: 2px 6px;
      border-radius: 20px;
      font-size: 11px;
      font-weight: 600;
      min-width: 17px;
      text-align: center;
      line-height: 1.2;
      color: white;

      &.count-all {
        background: #000000;
      }

      &.count-active {
        background: #52c41a;
      }

      &.count-inactive {
        background: #ff4d4f;
      }

      &.count-pending {
        background: #fa8c16;
      }
      &.count-freezed {
        background: #1890ff;
      }
      &.count-block {
        background: #fa541c;
      }
      // Coupon status bar custom count backgrounds
&.count-all {
  background: #bdbdbd !important;
}
&.count-regular {
  background: #1976d2 !important;
}
&.count-single_use {
  background: #388e3c !important;
}
&.count-used {
  background: #fbc02d !important;
  color: #222 !important;
}
&.count-unused {
  background: #d32f2f !important;
}
    }

    &:hover {
      background: var(--hover-bg);
    }

    &.active {
      background: var(--accent);
      color: white;
    }
  }
}
  .mobile-tabs-select {
    display: none;
margin-bottom: 0% !important;
    @media (max-width: 768px) {
      display: flex;
    }

    .ant-select-selector {
      background: var(--card-bg) !important;
      border: 1px solid var(--muted) !important;
      color: var(--sider-text) !important;
      display: flex;
      align-items: center;
    //   padding-right: 30px !important;
    }

    .ant-select-arrow {
      color: var(--sider-text);
      top: 50% !important;
      transform: translateY(-50%) !important;
      right: 11px !important;
    }

    .ant-select-selection-item {
      color: var(--sider-text);
      display: flex;
      align-items: center;
      line-height: 48px !important;
    }
  }
