@use '../../styles/breakpoints.scss' as *;
.employee-detail-page {
  background: var(--content-bg);

  
  
  /* ================= PROFILE CARD ================= */
  .profile-card {
    display: flex;
    background: var(--card-bg);
    border-radius: 12px;
    box-shadow: var(--boxShadow);
    margin-bottom: 24px;
    padding: 20px;
  justify-content: space-between;
  position: relative;
   box-shadow: none !important;
    .left {
      margin-right: 20px;
  
      .avatar {
        position: relative;
  
        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          border: 3px solid #22c55e;
          object-fit: cover;
        }
  
        .status {
          position: absolute;
          bottom: -6px;
          left: 50%;
          transform: translateX(-50%);
          background: #22c55e;
          color: #fff;
          font-size: 12px;
          padding: 4px 14px;
          border-radius: 20px;
        }
      }
    }
  
    .right {
      // flex: 1;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .row {
        display: flex;
        gap: 40px;
        margin-bottom: 15px;
        flex-wrap: wrap;
  
        span {
          font-size: 16px;
          color: var(--sider-text);
  
          b {
            font-weight: 600;
            padding-right: 5px;
          }
  
          .value {
            opacity: 0.7;
          }
        }
  
        .address {
          max-width: 700px;
        }
      }
    }
  }
 
  
  /* ================= CONTENT ================= */
  .content {
    display: flex;
    gap: 20px;
    @include mobile {
      flex-direction: column;
    }
    @include tablet {
      flex-direction: column;
    }
  }

  
  .employee-detail-content {
    // flex: 1;
  background: var(--card-bg);
  padding: 16px;
  border-radius: 12px;
  width: 80%;
  @include laptop {
      width: 100%;
    }
  
  }
}

