  // ...existing code...
  .ant-select-selection-item-remove {
    span{
        svg
{
            color: var(--muted);
            transition: background 0.2s, color 0.2s;
        }
    }
   
  }

.add-biometric-access-page {
  border-radius: 10px;
  margin: 0 auto;
  color: var(--sider-text);
  background: var(--main-bg);
  padding: 24px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);

  .back-btn {
    background: transparent !important;
    color: var(--accent);
    border: none;
    font-weight: 500;
    border: 1px solid var(--muted) !important;
    margin-bottom: 16px;
    &:hover {
      color: #fff;
      background: var(--accent);
    }
  }

  h2 {
    margin-bottom: 16px;
    color: var(--sider-text);
    font-size: 22px;
    font-weight: 600;
  }

  .form-section {
    margin-bottom: 32px;
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: 500;
    }
  }

  .action-buttons {
    display: flex;
    gap: 12px;
    justify-content: end;
    margin-top: 16px;

    .ant-btn-dangerous {
      background: transparent;
      color: var(--accent);
      border: 1px solid var(--red);
      font-weight: 500;
    }
  }
}
