.add-biometric-access-page {
  border-radius: 10px;
//   max-width: 500px;
  margin: 0 auto;
  color: var(--sider-text);

  .back-btn {
    background: transparent !important;
    color: var(--accent);
    border: none;
    font-weight: 500;
    border: 1px solid var(--muted) !important;
    &:hover {
      color: #fff;
      background: var(--accent);
    }
  }

  h2 {
    margin-bottom: 16px;
    color: var(--sider-text);
  }

  .form-section {
    margin-bottom: 32px;
    label {
      display: block;
      margin-bottom: 8px;
      font-weight: 500;
    }
  }

  .action-buttons {
    display: flex;
    gap: 12px;
    justify-content: end;
    margin-top: 16px;

    .ant-btn-dangerous {
      background: transparent;
      color: var(--accent);
      border: 1px solid var(--red);
      font-weight: 500;
      transition: background 0.2s, color 0.2s;
      &:hover, &:focus {
        background: var(--accent);
        color: #fff;
        border-color: var(--red);
      }
    }
  }
}
