@use "../../pages/addEmployee/styles.scss" as *;

.add-branch-page {
	min-height: 100vh;
	color: var(--sider-text);
	font-family: 'Inter', sans-serif;

	h2 {
		font-size: 18px;
		margin-bottom: 25px;
		letter-spacing: 0.5px;
	}

	.add-branch-form {
		.row {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 22px;
			row-gap: 0px;
			input{
				padding-block: 12px;
			}
			.ant-select{
				padding-block: 12px;
			}
		}
		.full-width-item {
			grid-column: 1 / -1;
		}
		.footer-buttons {
			margin-top: 25px;
			display: flex;
			gap: 15px;
            justify-content: end;
			.save-btn {
				background: var(--accent);
				color: var(--card-bg);
				border: none;
				height: 48px;
				padding: 0 14px;
			}
		}
	}
}
