.add-on-session-detail-container {
//   padding: 20px;
  
  .header {
    margin-bottom: 20px;
    
    h2 {
      font-size: 24px;
      font-weight: 600;
      color: var(--sider-text);
      margin: 0;
    }
  }
}
