@import '../../styles/breakpoints.scss';
.search-bar-container {
  width: 48px;
  transition: width 0.3s ease-in-out;
  overflow: hidden;

  &.expanded {
    width: 230px;
     @include mobile {
      width: 100%;
      
    }
  }

  span {
    box-shadow: none !important;
  }

  .search-icon-btn {
    width: 48px;
    height: 41px;
    background: transparent;
    border: 1px solid var(--muted);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--sider-text);
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background:  transparent !important;
      border-color:  var(--accent) !important;
      color: var(--accent);
    }
  }

  .search-input {
    width: 100%;
    background: transparent;
    border: 1px solid var(--muted);
    border-radius: 6px;
    height: 41px;
    display: flex;
    align-items: center;

    input {
      background: transparent;
      color: var(--sider-text);
      height: 42px;

      &::placeholder {
        color: var(--muted);
      }
    }

    .ant-input-prefix {
      color: var(--muted);
    }

    .ant-input-suffix {
      color: var(--muted);
      
      &:hover {
        color: var(--accent);
      }
    }
  }
}
