@use '../../styles/breakpoints.scss' as *;

.add-inventory-page {
  min-height: 100vh;
  color: var(--sider-text);
  font-family: 'Inter', sans-serif;

  .title {
    font-size: 18px;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
  }

  .add-director-form {
    .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 22px;
      row-gap: 0px;
      .ant-select{
        align-items: center;
        height: 48px !important;
        background: var(--transparent) !important;
        border: 1px solid var(--muted) !important;
        color: var(--sider-text) !important;
        input{
          background-color: var(--transparent) !important;
        }
      }
      .ant-input,
      .ant-select-selector {
        padding-block: 12px;
        background: var(--transparent) !important;
        border: 1px solid var(--muted) !important;
        color: var(--sider-text) !important;
      }
      .ant-select .ant-select-selector {
        background: var(--card-bg) !important;
      }
      .ant-input::placeholder {
        color: var(--placeholder) !important;
      }
      .ant-input-number {
        width: 100%;
        background: var(--transparent) !important;
        border: 1px solid var(--muted) !important;
        .ant-input-number-input {
          background: var(--transparent) !important;
          color: var(--sider-text) !important;
        }
      }
      .ant-picker {
        width: 100%;
        padding-block: 12px;
        background: var(--transparent) !important;
        border: 1px solid var(--muted) !important;
        color: var(--sider-text) !important;
        .ant-picker-input > input {
          color: var(--sider-text) !important;
        }
      }
    }
    .footer-buttons {
      margin-top: 25px;
      display: flex;
      gap: 15px;
      .save-btn {
        background: var(--accent);
        border: 1px solid var(--accent);
        color: var(--bg);
        &:hover {
          background: var(--accent-hover) !important;
          border-color: var(--accent-hover) !important;
        }
      }
      .ant-btn-default {
        background: var(--transparent);
        border: 1px solid var(--muted);
        color: var(--sider-text);
        &:hover {
          border-color: var(--accent) !important;
          color: var(--accent) !important;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .add-director-form {
      .row {
        grid-template-columns: 1fr;
      }
    }
  }
}